data/aP-Anon.txt
data/Hb-Anon.txt
data/Krea-Anon.txt
__pycache__/distributions.cpython-312.pyc
__pycache__/namlss.cpython-312.pyc
Test.ipynb
ToDo.txt
Alkaline Phosphatase.ipynb
Creatinine.ipynb
plots/hemoglobin_female.png
/plots
split_namlss.py
Split_NAMLSS_Test.ipynb
BCCG with constant shape test.png
paper 1 simulation/__pycache__/data.cpython-312.pyc
paper 1 simulation/__pycache__/data.cpython-314.pyc
paper 1 simulation/__pycache__/distributions.cpython-312.pyc
paper 1 simulation/__pycache__/distributions.cpython-314.pyc
paper 1 simulation/__pycache__/functions.cpython-312.pyc
paper 1 simulation/__pycache__/metrics.cpython-314.pyc
paper 1 simulation/__pycache__/models.cpython-312.pyc
paper 1 simulation/__pycache__/namlss.cpython-312.pyc
paper 1 simulation/__pycache__/namlss.cpython-314.pyc
paper 1 simulation/__pycache__/plots.cpython-314.pyc
