data/aP-Anon.txt
data/Hb-Anon.txt
data/Krea-Anon.txt
__pycache__/distributions.cpython-312.pyc
__pycache__/namlss.cpython-312.pyc
Test.ipynb
ToDo.txt
Alkaline Phosphatase.ipynb
Creatinine.ipynb
plots/hemoglobin_female.png
/plots
